---
layout: default
skills:
  - icon: stethoscope
    heading: Web Development
    description: Just a rookie. I have nearly finished my first site though.
  - icon: stethoscope
    heading: Graphic Design
    description: Curious and creative but no tangible experience.
  - icon: stethoscope
    heading: UX strategy
    description: Working on it.
  - icon: stethoscope
    heading: Marketing Strategy
    description: Marketing game needs some work.
  - icon: stethoscope
    heading: Social media
    description: Check out my Facebook and Instagram
  - icon: stethoscope
    heading: Photography
    description: Novice Photographer. Goal is to nail the perfect sunset shot.
experience:
  - icon: stethoscope
    job-title: Personal Care Attendant
    job-descriptor: PCA
    job-requirements: Care of 18 residents in a Dementia Specific Nursing Hostel under the scope of a PCA.
  - icon: stethoscope
    job-title: Registered Nurse
    job-descriptor: Western Health
    job-requirements: Successfully completed the Western Health Graduate Nurse Program.
  - icon: stethoscope
    job-title: Critical Care Nurse
    job-descriptor: Footscray ICU
    job-requirements: Care of critically ill patients under the scope of a CCRN.
---
<!--- this is the introduction section --->
    <section id="introduction">
      <div class="col-12 center-align">
        <h2>Kathryn McPhee</h2>
        <h1>Coding Novice</h1>
      </div>
      <div class="col-12 center-align">
        <i class="fa fa-stethoscope fa-2x display-inline" aria-hidden="true"></i>
        <h4 class="display-inline">Melbourne, Australia</h4>
      </div>
    </section><!-- #introduction --->
<!--- this is the'about' section --->
    <section id="about">
      <div class="about-box">
        <h2>About Me</h2>
        <p>I'm a 35 year old Intensive Care Nurse from Melbourne Australia. I love to dance, travel and my guilty pleasure is chocolate. Besides speaking English and Danish I'm hoping to add coding to my list of languages.</p>
      </div>
    </section><!-- #about -->
  <!--- this is the 'my skills' section  --->
    <section id="skills">
      <h2 class="skills-head">My Skills</h2>
      <div class="grid-spaceAround padded-div">
        {% for skills in page.skills %}
        <div class="col-4 ">
          <i class="fa fa-{{skills.icon}} fa-2x" aria-hidden="true"></i>
          <h3>{{skills.heading}}</h3>
          <p>{{skills.description}}</p>
        </div>
        {% endfor %}
      </div>
    </section><!-- #skills -->

<!--- this is the 'experience' section --->
    <section id="experience">
      <h2>My Experience</h2>
      <div class="grid-spaceAround experiencepad">
        {% for experience in page.experience %}
        <div class="col-1 align-right">
          <i class="fa fa-{{experience.icon}}" aria-hidden="true"></i>
        </div> <!-- .col-1 -->
        <div class="col-5">
          <h3>{{experience.job-title}}</h3>
          <h4>{{experience.job-descriptor}}</h4>
        </div> <!-- .col-5 -->
        <div class="col-6">
          <p>{{experience.job-requirements}}</p>
        </div><!-- .col-6 -->
        {% endfor %}
     </div>
     </section>
<!--- this is the map section --->
    <section id="map">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d145056.05040120916!2d10.257736533747392!3d55.38416774115021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464cd935429724c1%3A0x3b1e34d53b2ff5ec!2sOdense%2C+Denmark!5e0!3m2!1sen!2sid!4v1505800866371" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
     </iframe>
    </section>
<!---This is the 'Contact Us' section in the footer --->

     <script src="javascript/main.js" type="text/javascript"></script>
  </body>
</html>
